$TTL 3600

@   IN  SOA ns1.dandydomain.my.id. admin.dandydomain.my.id. (
        {{ dns_serial }}
        3600
        900
        604800
        86400
)

@       IN  NS  ns1.dandydomain.my.id.

web1    IN  A   {{ hostvars['vm-web-1']['ansible_host'] }}
web2    IN  A   {{ hostvars['vm-web-2']['ansible_host'] }}

www     IN  A   {{ hostvars['vm-web-1']['ansible_host'] }}
www     IN  A   {{ hostvars['vm-web-2']['ansible_host'] }}
