{% for group_name in ['webservers', 'dnsservers', 'dbservers'] %}

[{{ group_name }}]

{% for vm in vm_list if vm.group == group_name %}

{{ vm.name }} ansible_host={{ hostvars[vm.name]['ansible_host'] }} private_ip={{ hostvars[vm.name]['private_ip'] }}

{% endfor %}

{% endfor %}

[all:vars]

ansible_user={{ ansible_vm_user }}

ansible_ssh_private_key_file={{ ssh_private_key }}

ansible_python_interpreter=/usr/bin/python3

ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
